<html>
<head>
<title>Login to the chat app</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var socket = io.connect('http://localhost:18000/chat');
    socket.on('connect', function() {
        socket.emit('login', 'connected!');
    });

    $('#sendButton').on('click', function() {
	    socket.emit('login', { "data": {
				    	"type" : "login",
					"user_auth" : {
						"username": $('#Username').val(), 
						"password": $('#Password').val()
						}
					}
				}
	    )
    });

    socket.on('login', function(json) {
	    $("#authresult").append('<li>'+json+'</li>');
    });



});

</script>
<ul id="authresult"></ul>
Username:<input type="text" id="Username"><br>
Password:<input type="text" id="Password"><br>
<button id="sendButton">submit</button>
</body>
</html>
